[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
simplejson = "*"
Flask = "*"
"web.py" = "*"
cherrypy = "*"

[requires]
python_version = "2.7"
