[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
simplejson = "*"
Flask = "*"
"web.py" = "==0.51"
SQLAlchemy = "*"
CherryPy = "*"

[requires]
python_version = "2.7"
